body {
  font-family: 'Cutive Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h3 {
  font-family: 'Oxygen Mono', monospace;
}

.image-list {
  display: flex;
  width: 510px;
  justify-content: space-evenly;
}

.image-list > * {
  height: 110px;
  width: 110px;
}

#user-image {
  height: 100%;
  width: 100%;
}

#image-file-input-label {
  position: absolute;
  background-color: white;
  color: #847777;
  top: 85px;
  left: 9px;
  border: 1px solid #00000082;
  border-radius: 2px;
  font-size: 12px;
  padding: 2px 3px 2px 3px;
}

#image-file-input-label:hover {
  cursor: pointer;
  color: black;
  border-color: black;
}

#image-file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.user-upload-image {
  position: relative;
}

main {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.original-images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  width: 100%;
}

img, canvas {
  border: 1px solid #463f3f59;
}

#image-selections {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
}

#image-selections > h3 {
  margin: 0px auto 0px auto;
}

#image-selections img:hover {
  cursor: pointer;
}

.selected-image {
  box-shadow: 4px -4px 9px 0px #55a4e8;
}

#sampled-canvases {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#sampled-canvases > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

#distribution-selection-options > button {
    padding: 3px 6px 3px 6px;
    font-size: 14px;
    outline: none;
    font-family: 'Oxygen Mono', monospace;
}

.selected-dist {
  border: none;
  border-bottom: 2px solid #0987bd;
}

.nonselected-dist {
  border: none;
  border-bottom: 1px solid gray;
}

#distribution-selection-options > button:hover {
  cursor: pointer;
}

#distribution-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*
#sampled-canvases p {
  display: inline;
} */
