#sampled-canvases {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#sampled-canvases > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
/*
#sampled-canvases p {
  display: inline;
} */
